.landing-form {

    .container-main {
        height: 100vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;

    }

    .parent-holder {
        background-color: #dcdde1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .new-box {
        background-color: #ffb8b8;
        margin-right: 55px;
        margin-bottom: 15px;
        margin-left: 44px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 75%;
        margin-top: 100px;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #b2bec3; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #b2bec3; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #888; 
        }

        .box-title {
            font-size: 20px;
            background-color: #636e72;
            color: white;
            text-transform: capitalize;
            text-align: center;
            height: 36px;
            padding-top: 3px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-decoration: none;
            }

            .box-title .badge {
                height: 20px;
                padding-bottom: 17px;
                border-radius: 25%;
                background-color: red;
                color: white;

            }

            .box-wrapper {
                background-color: transparent;
            }

            .box-card {
                height: 219px;
                border-radius: 18px;
                width: 283px;
                margin: 11px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                border-color: #BDC3C7;
                border: solid 2px #BDC3C7;
    
            }

            .card-title {
                background-color: #E6E9ED;
                height: 90px;
                width: 278px;
                border-top-left-radius: 14px;
                border-top-right-radius: 14px;
                padding-top: 58px;
                padding-left: 11px;

            }

            .card-title-second {
                background-color: white;
                height: 34px;
                width: 278px;
                font-weight: bold;
                padding-top: 14px;
                padding-left: 11px;
            }

            .card-title-third {
                background-color: white;
                height: 32px;
                width: 278px;
                padding-left: 11px;
                
            }

            .card-date {
                background-color: white;
                height: 101px;
                width: 278px;
                padding-left: 11px;
                text-align: end;
                padding-right: 19px;
            }

            .function-btn {
                width: 278px;
                background-color: white;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                padding-left: 26px;
                padding-bottom: 12px;
                padding-top: 7px;
            }

            .get-btn {
                background-color: #00b894;
                border-color: #BDC3C7;
                border-color: #BDC3C7;
                width: 80%!important;
                max-width: 110px!important;
                height: auto !important;
                color: white !important;
                border-radius: 5px;
                
            }

            .cancel-btn {
                background-color: #d63031;
                border-color: #BDC3C7;
                border-color: #BDC3C7;
                width: 80%!important;
                max-width: 110px!important;
                height: auto !important;
                color: white !important;
                border-radius: 5px;
            
            }


    }

    .ongoing-box {
        background-color: #3dc1d3;
        margin-right: 55px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 75%;
        margin-top: 100px;
        overflow-y: scroll;

          /* width */
          &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #b2bec3; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #b2bec3; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #888; 
        }

        .box-title {
            font-size: 20px;
            background-color: #636e72;
            color: white;
            text-transform: capitalize;
            text-align: center;
            height: 36px;
            padding-top: 3px;
            }

            .box-wrapper {
                background-color: transparent;
            }

            .box-title {
                font-size: 20px;
                background-color: #636e72;
                color: white;
                text-transform: capitalize;
                text-align: center;
                height: 36px;
                padding-top: 3px;
                position: relative;
                display: inline-block;
                border-radius: 2px;
                text-decoration: none;
                }
    
                .box-title .badge {
                    height: 20px;
                    padding-bottom: 17px;
                    border-radius: 25%;
                    background-color: red;
                    color: white;
    
                }
    
                .box-card {
                    height: 219px;
                    border-radius: 18px;
                    width: 283px;
                    margin: 11px;
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    border-color: #BDC3C7;
                    border: solid 2px #BDC3C7;
        
                }
    
                .card-title {
                    background-color: #E6E9ED;
                    height: 90px;
                    width: 278px;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                    padding-top: 58px;
                    padding-left: 11px;
    
                }
    
                .card-title-second {
                    background-color: white;
                    height: 34px;
                    width: 278px;
                    font-weight: bold;
                    padding-top: 14px;
                    padding-left: 11px;
                }
    
                .card-title-third {
                    background-color: white;
                    height: 32px;
                    width: 278px;
                    padding-left: 11px;
                    
                }
    
                .card-date {
                    background-color: white;
                    height: 101px;
                    width: 278px;
                    padding-left: 11px;
                    text-align: end;
                    padding-right: 19px;
                }
    
                .function-btn {
                    width: 278px;
                    background-color: white;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-left: 82px;
                    padding-bottom: 12px;
                    padding-top: 7px;
                }
    
                .resolve-btn {
                    background-color: #00b894;
                    border-color: #BDC3C7;
                    border-color: #BDC3C7;
                    width: 80%!important;
                    max-width: 110px!important;
                    height: auto !important;
                    color: white !important;
                    border-radius: 5px;
                    
                }

    
    }

    .done-box {
        background-color: #c56cf0;
        margin-right: 55px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 75%;
        margin-top: 100px;
        overflow-y: scroll;

         /* width */
         &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #b2bec3; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #b2bec3; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #888; 
        }

        .box-title {
            font-size: 20px;
            background-color: #636e72;
            color: white;
            text-transform: capitalize;
            text-align: center;
            height: 36px;
            padding-top: 3px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-decoration: none;
            }

            .box-title .badge {
                height: 20px;
                padding-bottom: 17px;
                border-radius: 25%;
                background-color: red;
                color: white;

            }
        
            .box-wrapper {
                background-color: transparent;
            }

            
    
                .box-card {
                    height: 219px;
                    border-radius: 18px;
                    width: 283px;
                    margin: 11px;
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    border-color: #BDC3C7;
                    border: solid 2px #BDC3C7;
        
                }
    
                .card-title {
                    background-color: #E6E9ED;
                    height: 90px;
                    width: 278px;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                    padding-top: 58px;
                    padding-left: 11px;
    
                }
    
                .card-title-second {
                    background-color: white;
                    height: 34px;
                    width: 278px;
                    font-weight: bold;
                    padding-top: 14px;
                    padding-left: 11px;
                }
    
                .card-title-third {
                    background-color: white;
                    height: 32px;
                    width: 278px;
                    padding-left: 11px;
                    
                }
    
                .card-date-done {
                    background-color: white;
                    height: 101px;
                    width: 278px;
                    padding-left: 11px;
                    text-align: end;
                    padding-right: 19px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
    
            
    }

    .empty-new-box {
        background-color: white;
        margin-right: 55px;
        margin-bottom: 15px;
        margin-left: 44px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 75%;
        margin-top: 100px;

        

        .empty-box-title {
            font-size: 20px;
            background-color: #636e72;
            color: white;
            text-transform: capitalize;
            text-align: center;
            height: 36px;
            padding-top: 3px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-decoration: none;
            overflow-y: hidden;

            }

            .empty-box-title .badge {
                height: 20px;
                padding-bottom: 17px;
                border-radius: 25%;
                background-color: red;
                color: white;
            }

            .empty-box-wrapper {
                background-color: transparent;
            }

            .empty-box-icon {
                padding-top: 105px;
                padding-left: 115px;
            }

            .empty-title {
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                padding-top: 12px;
            }
            .empty-subtitle {
                text-align: center;
                font-size: 14px;
              
            }

            .box-line {
                border-top: solid 2px #bdc3c7;
                margin-left: 55px;
                margin-top: 28px;
                width: 187px;
            }
    }

    .empty-ongoing-box {
        background-color: white;
        margin-right: 55px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 75%;
        margin-top: 100px;

        .empty-box-title {
            font-size: 20px;
            background-color: #636e72;
            color: white;
            text-transform: capitalize;
            text-align: center;
            height: 36px;
            padding-top: 3px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-decoration: none;
            overflow-y: hidden;

            }

            .empty-box-title .badge {
                height: 20px;
                padding-bottom: 17px;
                border-radius: 25%;
                background-color: red;
                color: white;
            }

            .empty-box-wrapper {
                background-color: transparent;
            }

            .empty-box-icon {
                padding-top: 105px;
                padding-left: 115px;
            }

            .empty-title {
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                padding-top: 12px;
            }
            .empty-subtitle {
                text-align: center;
                font-size: 14px;
              
            }

            .box-line {
                border-top: solid 2px #bdc3c7;
                margin-left: 55px;
                margin-top: 28px;
                width: 187px;
            }
    }


    .dashboard {
        padding-top: 60px;
        height: 100vh;
        width: 100%;
        max-width: 240px;
        background-color: #876ab1;

        .dashboard-wrapper {
            .user-wrapper{
                display: flex;
                justify-content: center;
                margin-top: 30px;

                flex-direction: column;
                align-items: center;
                text-align: center;

                .user-icon {
                    width: 100%;
                    height: 100%;
                    max-width: 120px;
                    border-radius: 100%;
                }

                .user-details {
                    margin-top: 10px;
                    line-height: 20px;
                    color: white;
                    font-size: 16px;

                    .user-name {
                        font-weight: 600;
                    }
                }
            }

            .list-wrapper {
                margin-top: 30px;

                .list-container {
                    padding: 13px 30px 13px 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: white;

                    .list-icon {
                        margin-right: 10px;
                    }

                    .list-choice {
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: #7c718e;
                        border-left: solid 5px #544d4d;
                        padding-left: 25px;
                    }
                }

                .active-list {
                    background-color: #b7a7d0;
                    border-left: solid 5px white;
                    padding-left: 25px;
                }
            }
        }


    }

    .custom-navbar {
        padding-left: 40px;
        padding-right: 40px;
        position: fixed;
        width: 100%;
        z-index: 99;

        .nav-title {
            padding-left: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .nav-options {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: gray;

            .nav-option-wrapper {
                border-right: solid 1px gray;
                padding: 0 15px 0 15px;

                .notification-menu {
                    right: 0;
                    left: auto;
                    margin-top: 10px;
                    width: 100%;
                    min-width: 350px;
                    height: 250px;
                    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
                    overflow: auto;

                    /* width */
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888; 
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }

                    .no-notification {
                        display: none!important;
                    }

                    .notification-holder {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        padding: 0 20px;

                        .notif-box-icon {
                            opacity: 0.3;
                            margin-bottom: 10px;
                        }

                        .notif-line {
                            border-top: solid 2px #876ab1;
                            width: 100%;
                            margin: 5px 0;
                            max-width: 100px;
                        }

                        .notif-details {
                            line-height: 25px;
                        }

                        .notif-title {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .notif-subtitle {
                            font-size: 14px;
                            line-height: 15px;
                        }
                    }

                    .notification-holder-yes {
                        padding: 20px;
                        padding-top: 5px;
                        padding-bottom: 0;

                        .notification-text-title {
                            font-weight: 600;
                            font-size: 18px;
                            margin-bottom: 10px!important;
                        }

                        .notif-display-area {
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                            margin-bottom: 15px;

                            .notif-icon-check {
                                width: 100%;
                                max-width: 70px;
                                background-color: #876ab1;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .fa {
                                    color: white;
                                    font-size: 25px;
                                }
                            }

                            .notif-icon-times {
                                width: 100%;
                                max-width: 70px;
                                background-color: #7d7d7d;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .fa {
                                    color: white;
                                    font-size: 25px;
                                }
                            }

                            .notif-card {
                               width: 100%;
                               
                               
                                .card-info-group {
                                    line-height: 15px;
                                    
        
                                    .notif-name {
                                        font-size: 16px;
                                        font-weight: 600;
                                    }
        
                                    .notif-department {
                                        font-size: 14px;
                                    }
                                }
        
                                .card-user {
                                    padding: 10px;
                                    padding-bottom: 5px;
                                }
        
                                .card-approver {
                                    padding: 5px 10px 5px 10px;
                                    font-size: 12px;
                                    line-height: 15px!important;
                                    background-color: gainsboro;

                                    .info-top {
                                        display: flex;
                                    }

                                    .notif-approver {
                                        margin-left: 5px!important;
                                    }
                                }
                            }
                        }
                    }

                    
                }

                .btn-notification {
                    border: none;
                    background-color: transparent;

                    .nav-icon {
                        color: gray;
                        font-size: 20px;
                    }

                    &:focus {
                        outline: none;

                        .nav-icon {
                            color: cornflowerblue;
                        }
                    }
                }

                &:last-child {
                    border-right: solid 1px transparent;
                }
            }
        }

        
    }


}