.tutorial {

    .container-fluid {
        height: 100vh;
        height: 100vh;
        justify-content: center;
        align-items: center;

        .parent-holder {
            background-color: green;
            height: 500px;
            width: 1000px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            .new-box {
                background-color: white;
                height: 200px;
                width: 300px;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }

    }

}